@layer reset, base, tokens, recipes, utilities;

* {
  cursor: default;
}

a,
button,
[role='button'],
input,
textarea,
select {
  cursor: pointer;
}

a *,
button *,
[role='button'] * {
  cursor: inherit;
}

input,
textarea,
select {
  cursor: text;
}

input[type='range'],
input[type='radio'],
input[type='checkbox'],
select {
  cursor: pointer;
}
